.DS_Store
*.log
*.tmp

/bin/
/dist/
/build/
/release/
/AppDir/
/vendor/
/go.work
/go.work.sum
/bitcoinsv-sdk-go/
/bitcoinsv-go-sdk/

/FFSWallet*.AppImage
/FFSWallet*.app/
/FFSWallet*.tar.xz
/FFSWallet*.zip
/ffswallet/

/ffswallet
wallet.json
